<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefas Excluídas</title>
    <link rel="stylesheet" href="/projeto-Pessoal/CSS/components/deleteTasks.css">
</head>

<body>
    <header>
        <h1>Tarefas Excluídas</h1>
        <div id="navigationButtons">
            <a href="../index.html"><button id="btnBackFirst">Voltar a página inicial</button></a>
        </div>
        <br>
    </header>

    <div id="deletedTasks">

        <label for="nameOrID">Informe o nome ou ID da tarefa:</label>
        <input type="text" name="nameOrID" id="nameOrID">
        <br><br>

        <button type="searchDeleteTasks">Pesquisar</button>
    </div>

    <footer>
        <p>Criado por Gabryel de Souza</p>
    </footer>

    <script src="/projeto-Pessoal/JS/components/deleteTasks.js" type="module"></script>
</body>

</html>