<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>novaTarefa</title>
    <link rel="stylesheet" href="/CSS/components/newTasks.css">
</head>

<body>

    <header>
        <h1>Novas Tarefas</h1>
    </header>
    <br><br>

    <div id="card">
        <section id="newTasks">

            <div id="ID">
                <label for="tasksID">ID da Tarefa:</label>
                <br>
                <input type="text" id="tasksID" name="tasksID" disabled>
                <br><br>
            </div>
            <div id="name">
                <label for="tasksName">Inclua uma nova tarefa:</label>
                <br>
                <input type="text" id="tasksName" name="tasksName" placeholder="Nome da tarefa" required>
                <br><br>
            </div>
            <div id="dateTasks">
                <label for="tasksDate">Data da Tarefa:</label>
                <br>
                <input type="date" id="tasksDate" name="tasksDate" required>
                <br><br>
            </div>

            <div id="description">
                <label for="tasksDescription">Descrição da Tarefa:</label>
                <br>
                <textarea id="tasksDescription" name="tasksDescription" placeholder="Descrição detalhada"
                    required></textarea>
                <br><br>
            </div>

            <label for="tasksPriority">Prioridade:</label>
            <div id="opcoesPriority">
                <br>
                <input type="radio" id="priorityAlta" name="tasksPriority" value="Alta" required> Alta
                <input type="radio" id="priorityMedia" name="tasksPriority" value="Média" required> Média
                <input type="radio" id="priorityBaixa" name="tasksPriority" value="Baixa" required> Baixa
                <br><br>
            </div>
    </div>
    </section>
    </div>
    <div>
        <button id="addTaskButton">Adicionar Tarefa</button>
    </div>

    <div id="navigationButtons">
        <a href="../index.html"><button id="btnBackFirst">Voltar a página inicial</button></a>
    </div>


    <footer>
        <p>Criado por Gabryel de Souza Modesto</p>
    </footer>

</body>

</html>